body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  background-color: black;
}

.containerPC{
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerRegion{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  width: 300px;
  height: 70px;
  margin: 0 30px;
}